.App-results {
  background-color: #efefef;
  border: #dddbdb 3px solid;
  height: 400px;
  width: 90%;
  margin: auto;
  color: black;
  margin-top: 30px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 25% 25%;
  overflow: scroll;
}

.results-title {
  position: fixed;
  background-color: #ddd;
  padding: 2px;
  margin: 0 auto;
  text-align: center;
}

h4 {
  font-size: 12px;
}

.json-pretty {
  font-size: 10px;
}

.response-headers {
  padding-top: 18px;
}
